// Variables
@import "variables";

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
  font-size: 1em;
}

body {
  text-align: center;
  margin: 60px 20px;
  color: #16162b;
  -webkit-font-smoothing: antialiased !important
}
